
@{
    ViewBag.Title = "Error500";
    Layout = "~/Views/Shared/Error.cshtml";
}

    <div class='c'>
        <div class='_404'>500</div>
        <hr>
        <div class='_1'>SAYFA</div>
        <div class='_2'>BULUNAMADI</div>
        <a class='btn' href='#'>GERİ DÖN</a>
    </div>

