
<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="~/Content/Template/css/Loginn.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/Content/adminpaneltemplate/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Template/js/boostrap.js"></script>
    <script src="~/Content/Template/js/validator.min.js"></script>
    <script src="~/Scripts/Login.js"></script>
    <link href="~/Content/Template/css/snackBar.css" rel="stylesheet" />
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

</body>
</html>

