
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="header mt-5 mb-5">
        <p>Home / Auction Vintage Car</p>
        <p class="h1"><strong>Auction Vintage Car</strong></p>
    </div>
    <hr class=" pb-4" />
    <div class="row d-flex justify-content-between">
        <div class="col-5 pb-1">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/550x508/?car" />
            <div class="mt-3 m-0 d-flex justify-content-between">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/60x60/?car" style="background-size:cover" />
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/60x60/?car" style="background-size:cover" />
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/60x60/?car" style="background-size:cover" />
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/60x60/?car" style="background-size:cover" />
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/60x60/?car" style="background-size:cover" />
            </div>
        </div>
        <div class="col-6 justify-content-end">
            <p class="explanation">
                The Ragdoll is a cat breed with blue eyes and
                a distinct colorpoint coat. It is a large and muscular semi-longhair cat with
                a soft and silky coat. Like all long haired cats,
                Ragdolls need grooming to ensure their fur does not mat.
            </p>
            <p id="content-price" class="h2 font-weight-bold">75.000 ₺</p>
            <hr />
            <br />
            <p class="font-weight-light"><span class="font-weight-bold">İlan Tarihi: </span>17 Mart 2019</p>
            <p class="font-weight-light"><span class="font-weight-bold">İlan Yeri: </span>Kastamonu</p>
            <br />
            <div class="p-3 border border-primary">
                <div class="row">
                    <div class="p-2 col-12 bd-highlight">
                        <img src="https://source.unsplash.com/550x508/?user" class="img-thumbnail float-left" style="width:80px;height:80px;" alt="Cinque Terre">
                        <span class="m-4 h4 font-weight-bold text-right"><a class="text-decoration-none active text-primary" style="padding-left:38px;" href="">Fuat Atıf Tufa</a></span>
                    </div>
                    <div class="p-2 col-12 rounded-right">
                        <span style="position:relative; margin-right:50px;">Tel: 0212 651 21 55 - Cep: 0535 752 28 62</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 mt-5">
        <ul class="down-nawbar nav p-0 nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item col">
                <a class="" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item col">
                <a class="" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item col">
                <a class="" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
            </li>
            <li class="nav-item col">
                <a class="" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="false">About</a>
            </li>
        </ul>
        <div class="tab-content shadow-lg p-3 mb-5 bg-white rounded" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpane" aria-labelledby="pills-home-tab">
                <p>
                    The Ragdoll is a cat breed with blue eyes and a distinct colorpoint coat.
                    It is a large and muscular semi-longhair cat with a soft and silky coat.
                    Like all long haired cats, Ragdolls need grooming to ensure their fur does not mat.
                    Developed by American breeder Ann Baker in the 1960s, it is best known for its docile and placid temperament and
                    affectionate nature.
                </p>
                <p>
                    The name “Ragdoll” is derived from the tendency of individuals from the original breeding stock to go limp and relaxed
                    when picked up. Particularly popular in both the United Kingdom and the breed’s native United States,
                    ragdoll cats often are known as “dog-like cats” or “puppy-like cats” due to behaviors such as their tendency
                    to follow people around, their ease at being physically handled, and their relative lack of
                    aggression toward other pets.
                </p>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpane" aria-labelledby="pills-home-tab">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Color</th>
                            <td>Red</td>
                            <th scope="row">Year</th>
                            <td>Year</td>
                        </tr>
                        <tr>
                            <th scope="row">Make</th>
                            <td>Toyota</td>
                            <th scope="row">Model</th>
                            <td>Yaris</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade d-flex justify-content-around" id="pills-contact" role="tabpane" aria-labelledby="pills-home-tab">
                <div class="card" style="width: 15rem;">
                    <img src="https://source.unsplash.com/550x508/?cars" class="card-img-top" alt="photo">
                    <div class="card-body">
                        <p class="card-text">Some quick example</p>
                    </div>
                </div>
                <div class="card" style="width: 15rem;">
                    <img src="https://source.unsplash.com/550x508/?car" class="card-img-top" alt="photo">
                    <div class="card-body">
                        <p class="card-text">Some quick example</p>
                    </div>
                </div>
                <div class="card" style="width: 15rem;">
                    <img src="https://source.unsplash.com/550x508/?bus" class="card-img-top" alt="photo">
                    <div class="card-body">
                        <p class="card-text">Some quick example</p>
                    </div>
                </div>
                <div class="card" style="width: 15rem;">
                    <img src="https://source.unsplash.com/550x508/?truck" class="card-img-top" alt="photo">
                    <div class="card-body">
                        <p class="card-text">Some quick example</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-about" role="tabpane" aria-labelledby="pills-about-tab">
                <p class="h1">sefil salih</p>
            </div>
        </div>
    </div>
</div>

