
@using IM.PresentationLayer.Models;
@model BlogModelView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayoutPage.cshtml";
}
@foreach (var item in Model.Posts)
{
    @item.Post_date;
}

<div class="container">
    <div id="blog" class="row">
        <div class="col-md-10 blogShort">
            <h1>Sivaslı firma metal tozundan motor parçası üretti Volvo'ya sattı</h1>
            <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/guinnes-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

            <article>
                <p>
                    Sivas'ta faaliyet gösteren firma, metal tozlarından ürettiği küçük motor parçalarını Volvo'ya satıyor - ESTAŞ Genel Müdürü Osman Mavuş: - "İçten yanmalı motorlarda şu anda Volvo grubuna ihracat yapıyoruz. Bu parçaları ilk olarak Volvo grubu kullanmaya başladı"
                </p>
            </article>
            <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">Devamını Oku</a>
        </div>
        <div class="col-md-12 gap10"></div>
    </div>
</div>
