
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Good Morning Jason!</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="index.html">auction</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="index.html">YayımlananAraçlar</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                    <option selected>Aug 19</option>
                    <option value="1">July 19</option>
                    <option value="2">Jun 19</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-12">
            <a type="button" href="/Roles/AddRole" class="btn btn-success btn-lg"><i class="fa fa-plus"></i>&nbsp; Rol Ekle</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="bg-white" id="table"
                   data-show-toggle="true"
                   data-show-pagination-switch="true"
                   data-show-refresh="true" 
                   data-search="true"
                   data-pagination="true"
                   data-key-events="true"
                   data-show-print="true"
                   data-search-align="left"
                   data-select-item-name="id"
                   data-show-search-clear-button="true"
                   data-show-fullscreen="true"
                   data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="id" data-sortable="true" data-width="50%">ID</th>
                        <th data-field="Name" data-sortable="true">Rol adı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td> 
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger delete-row-role" data-id="@item.Id">Sil</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a type="button" href="/Roles/Update/@item.Id" class="btn btn-secondary delete-row">Güncelle</a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div> 
