
@{
    ViewBag.Title = "Menüler";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2 class="ml-3 mt-3">Menüler</h2>

@Html.Action("GetMenus", "Menu")

@section css{
    <link href="~/Content/Template/css/Menu.css" rel="stylesheet" />
}

