
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginPage.cshtml";
}

<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Giriş</label>
        <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Kayıt Ol</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Kullanıcı Adı</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Şifre</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Giriş">
                </div>
                <div class="hr"></div>
                @* Aşşağısı Şifremi Unuttum Kısmı *@                
                      <div class="group">
                          <h2>Şifremi Unuttum</h2>
                          <label for="user" class="label">EMAIL</label>
                          <input id="user" type="text" class="input">
                      </div>
                <div class="group">
                    <input type="submit" class="button" value="Gönder">
                </div>
                <div class="hr"></div>
            </div>
            <div class="for-pwd-htm">
                <div class="group">
                    <label for="user" class="label">Kullanıcı Adı</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="user" class="label">EMAIL</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="user" class="label">Şifre</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="user" class="label">Şifre</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Kayıt Ol">
                </div>
                <div class="hr"></div>
            </div>
        </div>
    </div>
</div>

