
@{
    ViewBag.Title = "About";
}

<header class="aboutheader col-12 text-white">
    <div class="container text-center">
        <p class="text-white display-3 font-weight-bold">Hakkımızda</p>
        <p class="lead">Aracınız ihale Meydanı aracılığı ile farklı satış yöntemleri kullanılarak değerinde ve hızlıca satılır.</p>
    </div>
</header>

<div class="col-8 mx-auto p-5 bg-light my-5 aboutdiv shadow" style="height:600px">
    <p class="aboutdivtitle font-weight-bold text-center">
        İhale Meydanı Nedir?
    </p>
    <p class="aboutdiv font-weight-normal text-justify">
        İhale Meydanı; 2013 yılında hayata geçirilen ve ikinci el otomobilleri online olarak araç alıp satmanızı
        sağlayan özel bir platformdur. Aklınızda yer alan otomobilleri Açık Artırma ya da Hemen Al yöntemleri ile
        satın almanızı, ayrıca aracınızı satmanızı sağlar.
    </p>
</div>
