
@{
    ViewBag.Title = "AdminHomePage";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
<img src="https://galeri14.uludagsozluk.com/840/sahtekar-dilenci-kopegin-foyasinin-ortaya-cikmasi_1330089_m.jpg" />
 <h2>Furkan Köyüne Dön!!!!</h2>

